  <div fxLayout="column" class="booking-form" fxFlex="80" fxFlexOffset="10" fxLayoutAlign="center" [formGroup]="bookingForm">

    <div class="booking-form-title">
      <span>Buchung</span>
    </div>

      <mat-form-field appearance="outline">
        <mat-label>Titel</mat-label>
        <input matInput placeholder="Titel" formControlName="title" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Priorität</mat-label>
        <mat-select placeholder="Priotität" formControlName="priority" (change)="changePriority($event)">
          <mat-option *ngFor="let prio of priorities" [value]="prio">
            {{prio}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Betrag</mat-label>
        <input matInput type="number" placeholder="Betrag" min="0" formControlName="amount" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput formControlName="description" formControlName="description"  matTextareaAutosize></textarea>
      </mat-form-field>

    <button mat-raised-button color="primary" (click)="submitBookingForm()" [disabled]="!bookingForm.valid">Bestätigen</button>

  </div>
